<footer class="text-muted">
  <div class="container">
    <p class="">
      <%= link_to "Create a new portfolio item ", new_portfolio_path, class: "btn btn-primary" if logged_in?(:site_admin) %>
      <%= link_to "View all Portfolio Items", portfolios_path %> /
      <a href="#">Back to top</a>
    </p>
    <p>
      <%= copyright_generator %>
    </p>
  </div>
</footer>