<h1>Welcome, here's all you need to know about me.</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "Audio_Bands.png", width: 300, alt: "Profile image" %>
  </div>

  <div class="col-md-8">
    <p>My name is Alexander Brown, but most people know and call me by Alex.</p>
  </div>
</div>