<div class="inner cover">
  <div class="card">
    <h1 class="cover-heading">Monster Hunter World Tweets</h1>
    <div class="row">
      <% @tweets.each do |tweet| %>
        <div class="col-md-6">
          <div class="tech-news">
              <%= twitter_parser tweet %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>